{
  "extends": "airbnb",
  "rules": {
    "semi": ["error", "never"],
    "comma-dangle": 0,
    "react/jsx-filename-extension": 0,
    "import/prefer-default-export": 0
  },
  "globals": {
    "document": true,
    "window": true
  }
}