{
  "extends": "airbnb",
  "rules": {
    "semi": ["error", "never"],
    "comma-dangle": 0,
    "react/jsx-filename-extension": 0,
    "import/prefer-default-export": 0,
    "react/jsx-one-expression-per-line": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "react/prop-types": 0,
    "max-len": 0
  },
  "globals": {
    "document": true,
    "window": true,
    "localStorage": true
  }
}